*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --MainFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  position: relative;
  min-height: 100%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #162330;
  margin-top: 10px;
}

body {
  padding: 0rem 0.6rem;
  font-size: 1.2em;
  max-width: 1600px;
  margin: 0 auto;
}

input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

/* Le chargement d'un SEUL fichier police pour les icônes fait économiser plusieurs centaines de kilo-octets */
@font-face {
  font-family: "fa-solid";
  src: url("../assets/fonts/webfonts/fa-solid-900.woff2") format("woff2-variations");
  font-weight: 900;
  font-display: fallback;
}

